{% extends 'base.html.twig' %}

{% block body %}
    <h1>Materialübersicht</h1>

    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typ</th>
                <th>Preis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td><a href="{{ path('material_show', { 'id': material.id }) }}">{{ material.id }}</a></td>
                <td>{{ material.typ }}</td>
                <td>{{ material.preis }}</td>
                <td>
                        
                        <li class="list-inline">
                      <div class="btn-group" role="group" aria-label="...">
  <a href="{{ path('material_show', { 'id': material.id }) }}" class="btn btn-info">show</a>
  <a href="{{ path('material_edit', { 'id': material.id }) }}" class="btn btn-primary">edit</a>
  <a  class="btn btn-danger">delete</a>
</div>
 </li>
                
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <li class="list-inline">
            <a class="btn btn-success" href="{{ path('material_new') }}">Neues Material anlegen</a>
        </li>

{% endblock %}
