{% extends 'base.html.twig' %}

{% block body %}
    <h1>Material</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ material.id }}</td>
            </tr>
            <tr>
                <th>Typ:</th>
                <td>{{ material.typ }}</td>
            </tr>
            <tr>
                <th>Preis:</th>
                <td>{{ material.preis }}</td>
            </tr>
        </tbody>
    </table>



   
        <li class="list-inline">
            <a class="btn btn-info" href="{{ path('material_index') }}">Zurück</a>
        </li>
        <li class="list-inline">
            <a class="btn btn-primary" href="{{ path('material_edit', { 'id': material.id }) }}">Anpassen</a>
        </li>
        <li class="list-inline">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </li>
   
{% endblock %}
