{% extends 'base.html.twig' %} {% block body %}

<h1 style="padding-bottom: 10px">
	<u>Arbeitsrapport Nr. {{ arbeitsrapport.id }}</u>
</h1>
<table class='table borderless'>
	<tbody>	
			<tr>
			<td width="80%"><b>Kunde:</b></td>
			<td><b>Ausführender:</b></td>
			</tr>
			<tr><td> </td></tr>
			<tr>
			<td width="80%">{{ arbeitsrapport.kundenliste.name }}</td>
			<td>Muster AG</td>
			</tr>
			
			<tr>
			<td width="80%">{{ arbeitsrapport.kundenliste.adresse }}</td>
			<td>Quaderstrasse 15</td>
			</tr>
			
			<tr>
			<td width="80%">{{ arbeitsrapport.kundenliste.ort }}</td>
			<td>7000 Chur</td>
			</tr>
			
			<tr>
			<td width="80%">{{ arbeitsrapport.kundenliste.telefon }}</td>
			<td>081 322 22 33</td>
			</tr>		
	</tbody>
</table>

<p><b>Projektname: {{ arbeitsrapport.name }}</b></p>

{# --------------------Stundeneinträge-------------------------------------------------------#}
<table class="table table-bordered" style = "border: none !important;">
	     <tbody>
	     <tr style="background-color: lightgrey;">
			<td><b>Datum</b></td>
			<td><b>Mitarbeiter</b></td>
			<td><b>Leistung</b></td>
			<td><b>Std</b></td>		
			<td><b>Betrag / Std</b></td>
			<td><b>Total</b></td>
			<td><b></b></td>
			</tr>
	     
	     
        {% for stundeneintrag in stundeneintrags%}
        
            <tr>
{#              <td><a href="{{ path('stundeneintrag_show', { 'id': stundeneintrag.id }) }}">{{ stundeneintrag.id }}</a></td>#}
                <td>{% if stundeneintrag.datum %}{{ stundeneintrag.datum|date('d.m.Y') }}{% endif %}</td>
                <td>{{stundeneintrag.mitarbeiterliste.name}}</td>
                <td>{{ stundeneintrag.leistung }}</td>
                <td>{{ stundeneintrag.std }}</td>
                <td>{{ stundeneintrag.beitragProStd }}</td>
                <td>{{ stundeneintrag.total }}</td>
                <td><a style="float:right" href="{{ path('stundeneintrag_edit', { 'id': stundeneintrag.id }) }}" class="btn btn-primary">Ändern</a></td>
            </tr>
        {% endfor %}
       		 <tr style = "border: none !important;">
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>		
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"><a style="font-size:20px; padding-top:1px; float:right"   class="btn btn-success" href="{{ path('stundeneintrag_new', { 'id': arbeitsrapport.id }) }}">+</a></td>
			</tr>
        </tbody>
</table>


{# --------------------Materialeinträge-------------------------------------------------------#}
<table class="table table-bordered" style = "border: none !important;">
	     <tbody>
	     <tr style="background-color: lightgrey;">
			<td><b>Anzahl</b></td>
			<td><b>Material</b></td>
			<td><b>Betrag / Stk</b></td>
			<td><b>Total</b></td>		
			<td><b></b></td>
			</tr>
	     
	     
        {% for materialeintrag in materialeintrags%}
        
            <tr>            
                <td>{{ materialeintrag.anzahl }}</td>  
                <td>{{ materialeintrag.materialliste.name}}</td>
                <td>{{ materialeintrag.betragProAnzahl }}</td>
                <td>{{ materialeintrag.total }}</td>
                <td><a style="float:right" href="{{ path('materialeintrag_edit', { 'id': materialeintrag.id }) }}" class="btn btn-primary">Ändern</a></td>
            </tr>
        {% endfor %}
       		 <tr style = "border: none !important;">
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>
				<td style = "border: none !important;"> </td>		
				<td style = "border: none !important;"><a style="font-size:20px; padding-top:1px; float:right"   class="btn btn-success" href="{{ path('materialeintrag_new', { 'id': arbeitsrapport.id }) }}">+</a></td>
			</tr>
        </tbody>
</table>




  <a class="btn btn-info" href="{{ path('projekt_index') }}"><- Projektübersicht</a></li>

  
{% endblock %}
