{% extends 'base.html.twig' %}

{% block body %}
    <h1>Materialeintrag editieren</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Speichern" />
    {{ form_end(edit_form) }}

    
        <li class="list-inline">
            <a class="btn btn-info" href="{{ path('arbeitsrapport_show', { 'id': id }) }}">Zurück</a>
        </li>
        <li class="list-inline">
            {{ form_start(delete_form) }}
               <input class="btn btn-danger" type="submit" value="Löschen" onsubmit="document.location.href="{{ path('arbeitsrapport_show', { 'id': materialeintrag.arbeitsrapportId }) }}"">
            {{ form_end(delete_form) }}
        </li>
    
{% endblock %}
