{% extends 'base.html.twig' %}

{% block body %}
    <h1>Materialeintrag</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materialeintrag.id }}</td>
            </tr>
            <tr>
                <th>Anzahl</th>
                <td>{{ materialeintrag.anzahl }}</td>
            </tr>
            <tr>
                <th>Betragproanzahl</th>
                <td>{{ materialeintrag.betragProAnzahl }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ materialeintrag.total }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('materialeintrag_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('materialeintrag_edit', { 'id': materialeintrag.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
