{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kundenübersicht</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Ort</th>
                <th>Telefon</th>
                		<th>Liste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="small">
        {% for kunde in kundes %}
            <tr>
                <td><a href="{{ path('kunde_show', { 'id': kunde.id }) }}">{{ kunde.id }}</a></td>
                <td>{{ kunde.name }}</td>
                <td>{{ kunde.adresse }}</td>
                <td>{{ kunde.ort }}</td>
                <td>{{ kunde.telefon }}</td>
						<td>{{ kunde.kundenliste.name }}</td>            
                <td>
                    
                        <li class="list-inline">
                            
                        <div class="btn-group" role="group" aria-label="...">
  <a href="{{ path('kunde_show', { 'id': kunde.id }) }}" class="btn btn-info">show</a>
  <a href="{{ path('kunde_edit', { 'id': kunde.id }) }}" class="btn btn-primary">edit</a>
   <a  class="btn btn-danger">delete</a>
</div>
                        
                        </li>
                      
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
        <li class="list-inline">
            <a class="btn btn-success"  href="{{ path('kunde_new') }}">Neuer Kunde erstellen</a>
        </li>

{% endblock %}
