{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kunde</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kunde.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ kunde.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ kunde.adresse }}</td>
            </tr>
            <tr>
                <th>Ort</th>
                <td>{{ kunde.ort }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ kunde.telefon }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li class="list-inline">
            <a class="btn btn-info" href="{{ path('kunde_index') }}">Back to the list</a>
        </li>
        <li class="list-inline">
            <a class="btn btn-primary" href="{{ path('kunde_edit', { 'id': kunde.id }) }}">Edit</a>
        </li>
        <li class="list-inline">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
