{% extends 'base.html.twig' %}

{% block body %}
 <script>
	document.getElementById("projekt").className += "active";

	</script>
	
    <h1>Projekt edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Speichern" />
    {{ form_end(edit_form) }}

   
      
        <li class="list-inline">
            <a class="btn btn-info"  href="{{ path('projekt_index') }}">Zurück zur Übersicht</a>
        </li>
        <li class="list-inline">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Löschen">
            {{ form_end(delete_form) }}
        </li>
   
{% endblock %}
