{% extends 'base.html.twig' %}

{% block body %}
<script>
	document.getElementById("projekt").className += "active";

	</script>
	
    <h1>Projektübersicht</h1>

    <table class="table table-striped ">
        <thead>
            <tr>
                
                <th>Arbeitsrapport</th>
                <th>Kunde</th>
                <th>Projektname</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="small">
        {% for projekt in projekts %}
            <tr>
                <td><a href="{{ path('arbeitsrapport_show', { 'id': projekt.arbeitsrapport }) }}">Rapport ansehen</a></td>               
                <td>{{ projekt.kundenliste.name }}</td>
                <td>{{ projekt.projektname }}</td>
                <td>
                
                 <li class="list-inline">
                      <div class="btn-group" role="group" aria-label="...">
  <a href="{{ path('projekt_show', { 'id': projekt.id }) }}" class="btn btn-info">Anzeigen</a>
  <a href="{{ path('projekt_edit', { 'id': projekt.id }) }}" class="btn btn-primary">Ändern</a>
  
  </div>

                
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
        <li class="list-inline">
            <a class="btn btn-success" href="{{ path('projekt_new') }}">Neues Projekt anlegen</a>
        </li>
  
{% endblock %}
