{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projektübersicht</h1>

    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Kunde</th>
                <th>Projektname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="small">
        {% for projekt in projekts %}
            <tr>
                <td><a href="{{ path('projekt_show', { 'id': projekt.id }) }}">{{ projekt.id }}</a></td>
                <td>{{ projekt.kundenliste.name }}</td>
                <td>{{ projekt.projektname }}</td>
                <td>
                
                 <li class="list-inline">
                      <div class="btn-group" role="group" aria-label="...">
  <a href="{{ path('projekt_show', { 'id': projekt.id }) }}" class="btn btn-info">show</a>
  <a href="{{ path('projekt_edit', { 'id': projekt.id }) }}" class="btn btn-primary">edit</a>
  
  <a  class="btn btn-danger">delete</a>
</div>
 </li>
                
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
        <li class="list-inline">
            <a class="btn btn-success" href="{{ path('projekt_new') }}">Create a new entry</a>
        </li>
  
{% endblock %}
